<div class="produto-pag">

    <a href="/"> Voltar </a>
    <h3>{{produto.nome}}</h3>
    <img src="{{produto.imagem}}" alt="{{produto.imagem}}">
    <p>R${{produto.preco}}</p>
    <p>Descrição: {{produto.descricao}}</p>
    <form  action="/produtos/deletar/{{produto._id}}" method="post">
    <input type="submit" class="btn" value="Excluir">
    
    </form>
    

</div>