<h1> Produtos </h1>
<div class="produtos">
    {{#each produtos}}
        <div class="produto">
            <img src="{{this.imagem}}" alt="{{this.imagem}}">
            <h3>{{this.nome}}</h3>
            <p>R${{this.preco}}</p>
            <a href="/produtos/{{this._id}}">Detalhes</a>
            <a href="/produtos/editar/{{this._id}}">Editar</a>
        </div>
    {{/each}}
</div>